
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../font/SF-Pro-Display-Medium.otf") format('truetype');
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/SF-Pro-Display-Regular.otf") format('truetype');
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/SF-Pro-Display-Semibold.otf") format('truetype');
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../font/SF-Pro-Display-Bold.otf") format('truetype');
}

/*********   Gotham     ***********/

