    @media screen and (min-width:1441px){
        .banner-img{
            background-position: bottom
        }
    }
    @media screen and (max-width:1440px){
        .banner-img{
            background-position: unset
        }
    }
    @media screen and (max-width:1201px){
        .mw-470{
            max-width: 48%;
        }
    }
    @media screen and (max-width:991px){
    /* .modal{
        width: 100%;
        height: 100%;
    }
    .modal-dialog{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .modal-content{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    } */
    .pos-unset{
        position: unset;
    }
    .modal-body{
        padding: 0 24px;
        flex-direction: column;
    }
    #card2Modal .modal-content{
        background-position: right;
    }
    #card3Modal .modal-content{
        background-position: right ; 
    }
    .modal .card-status{
        position: absolute;
        top: 20px;
        left: 24px;
    }
    .map-wrapper{
        position: relative;
    }
    #card1Modal .modal-body{
        padding: 0;
    }
    .modal h4{
        margin-top: 46px;
    }
    .banner-img {
        background-position-x: center;
    }
    .mw-470{
        max-width: 100%;
    }

    .card-1,
    .card-2{
        margin-bottom: 16px;
    }
    .service-card{
        padding: 24px !important;
    }
    .bg-1A579E {
        border-radius: 0%
    }
    /* typography */
    .fs-md-32{
        font-size: 32px;
    }
    .fs-md-40{
        font-size: 40px;
    }
    .fs-md-24{
        font-size: 24px;
    }
    .fs-md-18{
        font-size: 18px;
    }
    .lh-md-36{
        line-height: 36px;
    }
    .lh-md-46{
        line-height: 46px;
    }
    .lh-md-24{
        line-height: 24px;
    }
    .lh-md-28{
        line-height: 28px;
    }
    /* spacing */
    .py-md-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .py-md-60{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .py-md-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .mb-md-12{
        margin-bottom: 12px;
    }
    .mb-md-60{
        margin-bottom: 60px;
    }
    .mb-md-32{
        margin-bottom: 32px;
    }
    .pt-md-128{
        padding-top: 128px;
    }
    .px-md-93{
        padding-left: 93px;
        padding-right: 93px;
    }
    .pr-70{
        padding-right: 0;
    }
    .px-md-24{
        padding-left: 24px;
        padding-right: 24px;
    }
    .px-md-none{
        padding-left: 0;
        padding-right: 0;
    }
    .mb-md-24{
        margin-bottom: 24px;
    }
    .pt-md-27{
        padding-top: 27px;
    }
    .pb-md-93{
        padding-bottom: 93px;
    }
    .ml-md-40{
        margin-left: 40px ;
    }
    .pb-md-60{
        padding-bottom: 60px;
    }

}

@media screen and (max-width:767px){
    .container{
        padding: 0 16px !important;
    }
    .modal .card-status{
        top: 16px;
        left: 16px;
    }
    input[type=text ],
    input[type=email ]{   
        width: 100%;
        max-width: 100%;
    }
    .modal-body{
        padding: 0 16px;
    }
    .submitBtn{
        max-width: 100%;
        width: 100%;
    }
    .form-content{
        max-width: 100%;
        width: 100%;
    }
    .modal .card-status{
        left: 16px;
    }
    .current-branch-details.branch{
        left: 16px;
        right: 16px;
    }
    /* typography */

    /* spacing */
    .py-sm-16{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .px-sm-none{
        padding-left: 0px;
        padding-right: 0px;
    }
    .px-sm-16{
        padding-left: 16px;
        padding-right: 16px;
    }
    .ml-md-40{
        margin-left: 0;
    }
    .mb-sm-12{
        margin-bottom: 12px;
    }
    .mb-sm-30
    {
        margin-bottom: 30px;
    }

}