@import url("font.css");
*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth !important;
}
body{
    font-family: "SF Pro Display", sans-serif;    
    overflow-x: hidden !important;
    background: #040509;
}
.container{
    max-width: 1218px;
    padding: 0 24px !important;
}
.service-card{
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 50px 60px !important;
}
.card-status{
    border-radius: 4px;
    padding: 6px 10px;
    color: #808080;
    border: 2px solid #808080;
    width: fit-content;
}
.btn{
    outline: none !important;
}
.btn:focus{
    outline: none !important;
}
.errors {
    color: #DB4343;
    font-size: 1rem;
    display: block;
    margin-top: -15px;
    margin-bottom: 20px;
}

input.error {
  border-color: #DB4343 !important;
}
.mw-470{
    max-width: 470px;
}
.mw-500{
    max-width: 500px;
}
.mw-600{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.w-160{
    width: 160px;
}
.h-160{
    height: 160px;
}
a:hover{
    text-decoration: none;
}
/*         custom scrollbar         */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8; 
  }
  

/* modal */
.modal{
    background: rgba(4, 5, 9, 0.8);
}
.modal-header{
    position: relative;
    padding: 24px;
}
.modal-content{
    background: #111115;
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid #111115;
}
.modal-dialog{
    max-width: 770px;
}
#card1Modal .modal-dialog{
    max-width: 970px;
}
.modal .close{
    backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 0 !important;
    height: 32px;
    opacity: 1;
    padding: 0;
    background: url('../img/close.svg'),rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-body{
    padding: 0 60px;
    position: unset;

}
#card1Modal .modal-body{
    height: 540px;
    overflow-y: scroll;
}
.modal .close{
    outline: none;
    z-index: 1;

}
.modal .close:focus{
    outline: none;

}
.branches .map-button{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding: 16px 20px 16px 56px;
    text-align: start !important;
    margin-bottom: 12px;
}
.current-branch-details.branch{
    position: absolute;
    z-index: 9;
    bottom: 0%;
    left: 24px;
    right: 24px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding: 16px 20px 16px 56px;
    text-align: start !important;
    margin-bottom: 12px;
}
.branches .map-button:hover{
    background: rgba(255, 255, 255, 0.05);    
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
}
.branches .map-button.active{
    background: linear-gradient(94.11deg, #1A579E 10.31%, #1F5A9E 92.97%);
}
.branches .branch-name{
    margin-bottom: 4px;
}
.current-branch-details.branch img,
.branches .map-button img{
    position: absolute;
    left: 20px;
    top: 20px;
}
.branches-mobile .map-button{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 13px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 12px;
}
.branches-mobile .map-button.active{
    background: #1A579E;
    color: rgba(255, 255, 255, 0.8);
}
.current-branch-details{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 6px;
}
.map-wrapper{
    position: absolute;
    top: 0;
    right: 0;
}
/* form */

.form-label {
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease all;
    color: #4E4E57;
}

.form-label {
    top: 8px;
    left: 21px;
    font-size: 13px;
    line-height: 20px;
}
.form-input:placeholder-shown + .form-label {
    top: 20px;
    left: 21px;
    font-size: 16px;
    line-height: 20px;
}

.form-input:not(:placeholder-shown) , .form-input:focus {
    padding-top: 29px;
    padding-bottom: 9px;
}

.form-input:focus + .form-label {
    top: 7px;
    left: 21px;
    font-size: 13px;

}.form-input input:focus{
    outline:1px solid black;

}
#apply-form p{
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;

}
.input-container{
    position: relative;
}
input[type=text ],
input[type=email ]

{
    background: #111115;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 470px;
    width: 100%;
    color: white;
    padding: 19px 20px;
    margin-bottom: 22px;
}
input[type=text ]:focus,
input[type=email ]:focus{
    outline: none;
    border:1px solid #fff;
}
.submitBtn{
    background: #1A579E;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
    padding: 17px;
    max-width: 470px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #1A579E;
    line-height: 22px;
}
.form-content{
    max-width: 470px;
    width: 100%;
}
/* colors */
.bg-040509{
    background-color: #040509;
}
.c-FFFFFF{
    color: #ffffff;
}
.bg-040509{
    background: #040509;
}
.c-80{
    color: rgba(255, 255, 255, 0.8);
}
/* background icons & images */
.icon-email{
    background: url('../img/mail.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-phone{
    background: url('../img/call.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.square-24{
    width: 24px;
    height: 24px;
}
.banner-img{
    background: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card-1{
    background-image: linear-gradient(266.47deg, rgba(17, 17, 21, 0.4) 4.08%, rgba(17, 17, 21, 0.85) 39.69%, rgba(17, 17, 21, 0.95) 65.17%, #111115 97.1%),url('../img/icon1.jpg');
    background-color: #111115;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-size: cover;

}
.card-2{
    background-image: linear-gradient(266.47deg, rgba(17, 17, 21, 0.4) 4.08%, rgba(17, 17, 21, 0.85) 39.69%, rgba(17, 17, 21, 0.95) 65.17%, #111115 97.1%),url('../img/icon2.jpg');
    background-color: #111115;   
    background-repeat: no-repeat;
    background-size: cover;


}
.card-3{
    background-image: linear-gradient(266.47deg, rgba(17, 17, 21, 0.4) 4.08%, rgba(17, 17, 21, 0.85) 39.69%, rgba(17, 17, 21, 0.95) 65.17%, #111115 97.1%),url('../img/icon3.jpg');
    background-color: #111115;   
    background-repeat: no-repeat;
    background-size: cover;


}
.bg-1A579E{
    background:  url('../img/Pattern.svg'),#1A579E;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: right; 
}
#card2Modal .modal-content{
    background-image: linear-gradient(266.47deg, rgba(17, 17, 21, 0.4) 4.08%, rgba(17, 17, 21, 0.85) 39.69%, rgba(17, 17, 21, 0.95) 65.17%, #111115 97.1%),url('../img/popup-icon2.png');;
    background-color: #111115;    
    background-repeat: no-repeat;
    background-position: right; 
    min-height: 400px;
}
#card3Modal .modal-content{
    background-image: linear-gradient(266.47deg, rgba(17, 17, 21, 0.4) 4.08%, rgba(17, 17, 21, 0.85) 39.69%, rgba(17, 17, 21, 0.95) 65.17%, #111115 97.1%),url('../img/popup-icon3.png');
    background-color: #111115;   
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.3); 
    background-repeat: no-repeat;
    background-position: right; 
    min-height: 400px;
}
.pattern-2{
    background: url('../img/pattern2.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.success-icon{
    background: #1A579E;
    width: 160px !important;
    height: 160px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}
/* typography */
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fs-lg-64{
    font-size: 64px;
}
.fs-lg-48{
    font-size: 48px;
}
.fs-lg-18{
    font-size: 18px;
}
.fs-lg-32{
    font-size: 32px;
}
.fs-lg-18{
    font-size: 18px;
}
.fs-lg-16{
    font-size: 16px;
}
.fs-lg-13{
    font-size: 13px;
}
.lh-lg-16{
    line-height: 16px;
}
.lh-lg-56{
    line-height: 56px;
}
.lh-lg-24{
    line-height: 24px;
}
.lh-lg-36{
    line-height: 36px;
}
/* spacing */
.pt-lg-224{
    padding-top: 224px;
}
.mt-lg-40{
    margin-top: 40px;
}
.mb-lg-20{
    margin-bottom: 20px;
}
.mb-lg-32{
    margin-bottom: 32px;
}
.mb-lg-48{
    margin-bottom: 48px;
}
.mb-lg-40{
    margin-bottom: 40px;
}
.mb-lg-22{
    margin-bottom: 22px;
}
.mb-lg-16{
    margin-bottom: 16px;
}
.mb-lg-100{
    margin-bottom: 100px;
}
.pb-lg-190{
    padding-bottom: 190px;
}
.pb-lg-140{
    padding-bottom: 140px;
}
.pt-lg-40{
    padding-top: 40px;
}
.py-lg-24{
    padding-top: 24px;
    padding-bottom: 24px;
}
.py-lg-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pl-lg-0{
    padding-left: 0;
}
.py-lg-170{
    padding-top: 170px;
    padding-bottom: 170px;
}
.py-lg-140{
    padding-top: 140px;
    padding-bottom: 140px;
}
.py-lg-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.px-lg-100{
    padding-left: 100px;
    padding-right: 100px;
}
.pr-70{
    padding-right: 70px;
}
/* buttons */
.btn-blue{
    background:#1A579E;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white !important;
    padding: 18px 24px !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.btn-outlined{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 16px 22px !important;
    color: #FFFFFF;
}

/* hovers */
.btn-blue:hover{
    background:#104D94;
}
.btn-outlined:hover{
    color: #1B589F;
    background: white;
}
.card-1:hover{
    background-color: #0A0A0E;
}
.card-2:hover{
    background-color: #0A0A0E;
}
.card-3:hover{
    background-color: #0A0A0E;
}
.navbar-expand-lg a:hover{
    color: white !important;
    text-decoration: none !important;
}
.submitBtn:hover{
    background:#104D94;
}


/* map */
.gm-control-active.gm-fullscreen-control{
    display: none;
}
.gmnoprint{
    display: none;
}